
/*GENERAL*/

#tableLists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 50vw;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.list, .liTask, #titleTask, #titleNewList {
    border-radius: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #EDECEC;
    filter: drop-shadow(5px 5px 5px #C9C4C4);
    overflow: auto;
}


.liTaskTitle, .addTask, #titleTask, .addTask, .addDescription, .liTaskDesc, #addList, #titleNewList, .liTaskArchive {
    cursor: default;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 5px;
    transition: 0.5s;
}
.addDescription:hover {
    background: #EDECEC;
}

.liTaskTitle {
    width: 100%;
}

.liTask {
    margin: 10px;
    padding: 5px;
    transition: 0.3s;
    background-color: #F2F1F1;
}
.liTask:hover {
    background-color: white;
}


/*LIST : TO DO */
/*modal gen*/
.modal {
    width: 100%;
    font-size: 80%;
    padding: 10px;
}
.modal div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#titleTask:hover, #titleTask:focus {
    background-color: #C9C4C4;
}
/*titre*/
#toDoList .liTaskTitle, .liTaskDesc {
    border: 1px solid rgba(0,0,0,0);
}

#toDoList  .liTaskTitle:focus, .liTaskDesc:focus {
    border: 1px solid lightgray;
}

/*description*/
.liTaskDesc {
    opacity: 0.5;
    transition: 0.3s;
}

.liTaskDesc:focus {
    opacity: 1;
    background-color: white;
    cursor: text;
}

/*ajouter nouvelle tache*/
.list form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list form input {
    flex-grow: 1;
}

.addTask:hover, #addList {
    font-weight: bold;
}


/*LISTE TACHES TERMINEES*/
#doneList, #archiveList {
    font-size: 80%;
}


.divClose {
    display: flex;
    justify-content: flex-end;
}


#containerArchive, .divClose {
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

#containerArchive:hover, .divClose:hover {
opacity: 1;
}

@media screen and (max-width: 640px) {
#tableLists {
    flex-direction: column;
    height: 100%;
}
}